:root {
    --yellow: #FFC13D;
    --yellow-orange: #FFB144;
    --orange: #FA923D;
    --orange-red: #EB6D3F;
    --red: #FF5543;
    --light-blue: #4EF3FF;
    --blue: #428FFF;
    --dark-blue: #3CAFE8;
    --bg: #F0EBF0;
}

::placeholder {
  color: white;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: white;
    color: white;
}

#map {
    width: 30%;
    height: 100%;
}

.header {
    padding: 0 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(97deg, var(--yellow), var(--yellow-orange), var(--orange), var(--orange-red), var(--red));
    text-transform: capitalize;
    color: white;
}

.search button {
    border: white 1px solid;
    border-radius: 10px;
    background: rgb(0, 0, 0, 0);
    color: white;
}

.search input {
    border: white 1px solid;
    border-radius: 10px;
    background: rgb(0, 0, 0, 0);
    color: white;
    padding: 0 5px;
}

.search input:focus {
    outline-width: 0;
}

.error {
    padding: 0 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
    right: 0;
}

.error p {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-image: linear-gradient(97deg, var(--yellow), var(--yellow-orange), var(--orange), var(--orange-red), var(--red));
    margin: 2% 5%;
    height: 50%;
}

.container canvas {
    display: block;
    margin: 10px auto;
    align-items: center;
}

.container > div:not(#map) {
    border-right: 100px solid white;
}

.main-1 {
    flex: 1;
    padding: 0 20px;
    background: rgb(0, 0, 0, 0);
}

.main-2 {
    flex: 1;
    padding: 0 20px;
    background: rgb(0, 0, 0, 0);
}

.main-3 {
    flex: 1;
    padding: 0 20px;
    background: rgb(0, 0, 0, 0);
}

.credit {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.credit p {
    font-weight: 700;
    background: -webkit-linear-gradient(97deg, var(--orange-red), var(--red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}