:root {
    --deep-blue: #03001F;
    --deep-purple: #07020b;
    --white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: var(--deep-blue);
    color: var(--white);
}

#map {
    width: 30%;
    height: 100%;
}

.header {
    padding: 0 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--deep-purple);
    text-transform: capitalize;
}

.search button {
    border: var(--white) 1px solid;
    border-radius: 10px;
    background: var(--deep-purple);
    color: var(--white);
}

.search input {
    border: var(--white) 1px solid;
    border-radius: 10px;
    background: var(--deep-purple);
    color: var(--white);
    padding: 0 5px;
}

.search input:focus {
    outline-width: 0;
}

.error {
    padding: 0 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #400e11;
    right: 0;
}

.error p {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 2% 5%;
    height: 50%;
}

.container canvas {
    display: block;
    margin: 10px auto;
    align-items: center;
}

.container > div:not(#map) {
    border-right: 100px solid var(--deep-blue);
}

.main-1 {
    flex: 1;
    padding: 0 20px;
    background-color: var(--deep-purple);
}

.main-2 {
    flex: 1;
    padding: 0 20px;
    background-color: var(--deep-purple);
}

.main-3 {
    flex: 1;
    padding: 0 20px;
    background-color: var(--deep-purple);
}

